.my-container {
  
}

.my-side-bar{
    padding-top: 0px;
}

.my-pull-right span{
    float: right;
    position: relative;
    top: 10px;
}

.my-pull-up{
    position: relative;
    bottom: 3px;
}

.my-margin-bottom{
    margin-bottom: 2px;
}

.my-right-side-bar{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.my-input-margin-bottom input{
    margin-bottom: 10px;
}

.my-resultBar-veritical-align span{
    position: relative;
    top: 25%;
}

.my-jumbotron {
  padding: 15px;
  margin-bottom: 0px;
}

.my-jumbotron h1,
.my-jumbotron .h1 {
  line-height: 1;
  color: inherit;
}

.my-jumbotron p {
  line-height: 1.4;
}

.container .my-jumbotron {
  border-radius: 6px;
}

.my-jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .my-jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container .my-jumbotron {
    padding-right: 0px;
    padding-left: 0px;
  }
  .my-jumbotron h1,
  .my-jumbotron .h1 {
    font-size: 63px;
  }
}

.scroll .my-scroll-body {
    height: 445px;
    overflow: auto;
}

.scroll .my-scroll-body-in-panel {
    height: 475px;
    overflow: auto;
}

.my-danger-background{
    background: #d9534f;
}